src/__pycache__/dropbox_integration.cpython-37.pyc
static/jpg/image.jpg
src/__pycache__/cam_control.cpython-37.pyc
config.ini
config.ini
__pycache__/app.cpython-36.pyc
src/__pycache__/camera.cpython-36.pyc
src/__pycache__/classes.cpython-36.pyc
src/__pycache__/dropbox_integration.cpython-36.pyc
