:root {
	--main-bg-color: white;
	--second-bg-color: rgb(0, 5, 20);
	--primary-color: rgb(4, 30, 66);
	--secondary-color: rgb(252, 76, 0);
}

body {
	margin: auto;
	color: black;
	text-align: left;
	background-color: var(--main-bg-color);
	font-family: Helvetica, Calibri;
	font-size: large;
	line-height: 150%;
}

.header {
	background-color: var(--second-bg-color);
	color: white;
	padding: 20px;
	text-align: center;
}

.column {
	float: left;
}

.row {
	margin-left: 10%;
	margin-right: 10%;
}

/* Left and right column */

.column.side {
	width: 15%;
	visibility: visible;
	display: inline;
	content: '.';
}

/* Middle column */

.column.middle {
	width: 70%;
}

/* Clear floats after the columns */

.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Footer */
.footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
	margin-top: 20px;
}

@media screen and (max-width: 600px) {
	nav li.right, nav li {
		float: none;
	}
	nav li {
		text-align: center;
	}
	.column.side, .column.middle {
		width: 100%;
	}
}

img {
	max-width: 100%;
}

button, a {
	background-color: var(--primary-color);
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border: none;
	font-size: 20px;
}

button:hover, button:active, a:hover, a:active {
	background-color: var(--secondary-color);
}

table, table .header {
	border: 1px solid white;
	border-collapse: collapse;
}

nav {
	float: left;
	width: 90%;
	padding-left: 10%;
	margin-bottom: 30px;
	background-color: var(--primary-color);
	position: sticky;
	top: 0;
}

ol, dl {
	text-align: left;
}

nav ul {
	text-align: left;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--primary-color);
	list-style-type: none;
	/*background-color:rgba(255, 99, 71);*/
}

nav li {
	float: left;
}

nav li a {
	display: inline-block;
	color: white;
	text-align: center;
	text-decoration: none;
}

nav li a:hover:not(.active) {
	background-color: grey;
}

nav .active {
	background-color: var(--secondary-color);
}

nav li.right {
	float: right;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}