<!DOCTYPE html>
<html lang="en">

<head>
	<title>Camara control</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<meta charset="UTF-8">
	<meta name="keywords" content="Icehockey, Outdoor, JavaScript">
	<meta name="description" content="Outdoor icehockey">
	<meta name="author" content="Jonathan Schulte">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="header">
		<h1>Dart recognition</h1>
		<p>Automatic steel dart detection</p>
	</div>

	<nav>
		<ul>
			<li><a href="#home" class="active">Home</a></li>
		</ul>
	</nav>
	<br>
	<div class="row">
		<div class="column side">
			<p>Left side content (to be filled)</p>
		</div>

		<div class="column middle">
			<h1>Camera control</h1>

			<a href=# id=get_score>Wait for throw</a> <br><br>

			<h3>Last event</h3>
			<h4 id=event>Noting happened yet</h4>

			<h3>Last score</h3>
			<h4 id=score>0</h4>

			<br><br>
			<p>Last recognized dart</p>
			<img id="line_detection" src="static/jpg/line_detection.jpg" alt="Last recognized dart">
			<br>
		</div>

		<div class="column side">
			<p>Right side content (to be filled)</p>
		</div>

	</div>

	<div class="footer">
		<h2>Footer (to be filled)</h2>
	</div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
<script src="{{ url_for('static', filename = 'js/waitThrowHandler.js')}}"></script>

<noscript>Sorry, your browser does not support JavaScript!</noscript>

</html>