<!DOCTYPE html>
<html lang="en">

<head>
	<title>Camara control</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<meta charset="UTF-8">
	<meta name="keywords" content="Icehockey, Outdoor, JavaScript">
	<meta name="description" content="Outdoor icehockey">
	<meta name="author" content="Jonathan Schulte">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

	<div class="header">
		<h1>IR camera control</h1>
		<p>Take pictures and control the IR led's</p>
	</div>

	<nav>
		<ul>
			<li><a href="#home" class="active">Home</a></li>
		</ul>
	</nav>
	<br>
	<div class="row">
		<div class="column side">
			<p>Left side content (to be filled)</p>
		</div>

		<div class="column middle">
			<h1>Camera control</h1>

			<a href=# id=before>Take img before throw</a> <br><br>
			<a href=# id=after>Take img after throw</a> <br><br>
			<a href=# id=get_score>Get score</a> <br><br>

			<h3>Last score</h3>
			<h4 id=score>0</h4>

			<br><br>
			<p>Last recognized dart</p>
			<img id="rec_dart" src="static/jpg/rec_dart.jpg" alt="Last recognized dart">
			<p>Canny detection</p>
			<img id="canny" src="static/jpg/canny.jpg" alt="Canny detection">
			<p>Image before throw</p>
			<img id="img_bf_elmnt" src="static/jpg/before.jpg" alt="Image before throw">
			<p>Image after throw</p>
			<img id="img_af_elmnt" src="static/jpg/after.jpg" alt="Image after throw">
			<br>
		</div>

		<div class="column side">
			<p>Right side content (to be filled)</p>
		</div>

	</div>

	<div class="footer">
		<h2>Footer (to be filled)</h2>
	</div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
<script src="{{ url_for('static', filename = 'js/takePicHandler.js')}}"></script>
<script src="{{ url_for('static', filename = 'js/getScoreHandler.js')}}"></script>

<noscript>Sorry, your browser does not support JavaScript!</noscript>

</html>